.Cart {
  .cart-bar {
    width: 100%;
    height: 42px;
    margin: 0 auto 40px auto;
    display: inline-block;
    font-size: 14px;
    background-color: #f1eeee;
    .cart-home {
      float: left;
      height: 44px;
      line-height: 44px;
      margin: 0 15px 0 0px;
      @media only screen and (max-width: 768px) {
        margin: 0 15px 0 15px;
      }
    }
    .shopping-Cart {
      float: left;
      height: 44px;
      line-height: 44px;
      margin: 0 0 0 10px;
      color: #5fa800;
    }
    .shopping-Cart:hover {
      color: black;
    }
  }
  .cart-shopping-wraper {
    width: 100%;
    display: flex;
  }

  .cart-bar .cart-home::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: #e7e5e5;
    margin: 8px 15px;
  }
}
.cart-list-item-bag-left {
  display: flex;
  flex-direction: column;
  float: left;
  width: 70%;
  .cart-my-cart {
    width: 100%;
    height: 84 px;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    border-top: solid#e7e5e5 1px;

    .cart-title {
      display: flex;
      width: 50%;
    }
    .cart-number {
      display: flex;
      width: 50%;
      float: right;
      align-content: flex-end;
    }
  }
  .cart-check-no-item {
    margin: 45px auto;
    font-size: 25px;
    color: #5fa800;
  }
}
.cart-check-summary-right {
  float: right;
  width: 30%;
  height: 400px;
  background-color: #e7e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  .check-summary-title {
    margin: 20px auto;
    font-size: 20px;
  }
  .check-btn {
    margin: 0 auto;
    .check-btn-check-out {
      padding: 15px;
      border: none;
      background: none;
      font-size: 15px;
      color: #4f8a02;
    }
    .check-btn-check-out:hover {
      color: #5fa800;
    }
  }
}
.cart-shop-bag-body {
  display: flex;
  width: 100%;

  .cart-shop-bag-item {
    display: flex;
    margin: 0 auto;
    clear: both;
    border-top: solid#e7e5e5 1px;

    .cart-shop-info {
      font-size: 15px;
      margin: 35px 45px;
    }
    .cart-shop-quntity {
      font-size: 15px;
      margin: 35px 27px;
      display: flex;
      flex-direction: column;
    }
    .cart-shop-price {
      font-size: 15px;
      margin: 35px 10px;
    }
    .cart-remove {
      padding: 0;
      border: none;
      background: none;
      margin: 10px auto;
      font-size: 12px;
    }
    .cart-remove:hover {
      color: #5fa800;
    }
  }
  .cart-img-wrap {
    width: 150px;
    height: 150px;
    .cart-img {
      display: block;
      width: 100%;
    }
  }
  .cart-shop-price-section {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin: 0 10px;
  }

  //   .cart-img-wrap {
  //     display: flex;
  //     width: calc(100% / 4);
  //   }
  //   .cart-shop-info {
  //     display: flex;
  //     width: calc(100% / 4);
  //   }
  //   .cart-shop-quntity {
  //     display: flex;
  //     width: calc(100% / 4);
  //   }
  //   .cart-shop-price {
  //     display: flex;
  //     width: calc(100% / 4);
  //   }
}
