// @mixin container {
//   width: 1024px;
//   height: auto;
//   position: relative;
//   clear: both;
//   margin: 0 auto;
// }

.Products {
  .product-bar {
    height: 42px;
    margin: 0 auto;
  }
  .card-body {
    padding-right: 20px;
    text-align: center;
  }

  .icon {
    background-color: rgb(8, 112, 42);
    padding: 20px;
    display: none;
  }
  .card-content {
    text-align: left;
    line-height: 15px;
    font-size: 15px;
  }
  .card-title {
    font-style: oblique;
    font-weight: bold;
  }
}
// .container {
//   width: 1024px;
//   height: auto;
//   position: relative;
//   clear: both;
//   margin: 0 auto;
// }
