.card-group {
  display: flex;
  clear: both;
  height: auto;
  margin-bottom: 50px;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  align-content: flex-start;
  .ProductCard {
    width: calc(100% / 5);
    .img-wrap {
      .card-img-top {
        width: 100%;
        display: block;
      }
    }
  }
}
