@import "../../../assets/styles/variables";
.card-group {
  display: flex;
  clear: both;
  height: auto;
  // margin-bottom: 50px;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  align-content: flex-start;
  .ProductCard {
    width: calc(100% / 5);
    width: 204px;
    .card {
      background-color: #f1eeee;
      padding: 10px 0 15px 0;
    }
    .card-content {
      color: grey;
      text-align: center;
      line-height: 15px;
      font-size: 15px;
    }
    .img-wrap {
      width: 125px;
      height: 125px;
      background-color: white;
      .card-img-top {
        width: 100%;
        display: block;
      }
    }
    .card-title-link {
      text-decoration: none;
      color: $primeryGreen;
    }
    .card-title-link:hover {
      color: black;
    }
  }
}
