@import "../../../assets/styles/variables";
.card-group {
  display: flex;
  clear: both;
  height: auto;
  // margin-bottom: 50px;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  align-content: flex-start;
  @media only screen and (max-width: 768px) {
    justify-content: center;
  }
  .ProductCard {
    width: calc(100% / 5);
    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    .card {
      background-color: #f1eeee;
      padding: 10px 0 15px 0;
      .card-text {
        padding: 0 10px;
        text-align: center;
        width: 100%;
      }
    }
    .card-content {
      color: grey;
      text-align: center;
      line-height: 15px;
      font-size: 15px;
    }
    .img-wrap {
      width: 125px;
      height: 125px;
      background-color: white;
      margin: 0 auto;
      .card-img-top {
        width: 100%;
        display: block;
      }
    }
    .card-title-link {
      text-decoration: none;
      color: $primeryGreen;
    }
    .card-title-link:hover {
      color: black;
    }
  }
}
