.ExpandMenu {
  //   width: 80%;
  //   height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  right: 0;

  &.openExpand {
    display: block;
    .closeExspand {
      margin: 25px 45px;
      float: right;
    }
  }
}
