// @mixin container {
//   width: 1024px;
//   height: auto;
//   position: relative;
//   clear: both;
//   margin: 0 auto;
// }

.Product {
  // @include container();

  .card {
    width: calc(100% / 5);
    float: left;
  }
  .card-body {
    padding-right: 20px;
    text-align: center;
  }
  .img-wrap {
    width: 100%;
    height: 230px;
    background-color: black;
    margin-bottom: 20px;
  }
  .icon {
    background-color: rgb(8, 112, 42);
    padding: 20px;
    display: none;
  }
  .card-content {
    text-align: left;
    line-height: 15px;
    font-size: 15px;
  }
  .card-title {
    font-style: oblique;
    font-weight: bold;
  }
}
.container {
  width: 1024px;
  height: auto;
  position: relative;
  clear: both;
  margin: 0 auto;
}
