$green: #5fa800;
// .container {
//   width: 1024px;
//   height: auto;
//   position: relative;
//   clear: both;
//   margin: 0 auto;
// }
.home-bar {
  width: 100%;
  height: 42px;
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
}

.home-home {
  float: left;
  height: 44px;
  line-height: 44px;
  margin: 0 15px 0 15px;
}
.home-create {
  float: left;
  height: 44px;
  line-height: 44px;
  margin: 0 0 0 10px;
}
.home-bar .home-home::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #aca5a5;
  margin: 8px 15px;
}
.link-create-account {
  color: black;
  text-decoration: none;
}
.link-create-account:hover {
  color: $green;
}
.home-screen {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  clear: both;
  background-image: url("../../assets/images/bg/bg.png");
}
