@import "../../assets/styles/variables";
.Footer {
  margin: 0 auto;
  clear: both;
  font-size: 12px;

  .footer-information {
    // display: table;
    // width: 100%;
    display: flex;
    justify-content: space-evenly;
    line-height: 20px;
    margin: 0 auto;
    height: 308px;
    background-color: #222222;
    border: $primeryGray 1px;
    color: $primeryGray;
    padding: 15px;
    clear: both;
    @media only screen and (max-width: 768px) {
      display: block;
      height: auto;
    }
  }
  .about-us {
    width: 205px;
  }

  .push-right {
    float: right;
  }
  .my-account {
    display: table-cell;
    margin: 0 25px auto 10px;
    list-style-type: none;
  }
  .menu {
    display: table-cell;
    padding: 0 25px auto 10px;
    list-style-type: none;
  }
  .get-deals {
    display: table-cell;
    margin: 0 25px auto 10px;
  }
  .footer-item {
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
}
.foot-bar {
  width: 100%;
  height: 37px;
  line-height: 37px;
  background-color: $primeryGreen;
  color: white;
  margin: 0 auto;
  .copy-right {
    margin: 0 auto;
    padding: 0 10px;
  }
}
