.LoginContainer {
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  .login-bar {
    height: 42px;
    margin: 0 auto;
  }
  .login-form {
    height: 650px;
    margin: 0 auto;
    clear: both;
    background-image: url("../../assets/images/bg/bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }
}
