@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  @include flexCenter;
  width: 393px;
  height: 450px;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px #e1e1e1 solid;
}
.logi-title {
  color: white;
  text-align: center;
}
.login-email {
  height: 36px;
  width: 338px;
  margin: 25px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #e1e1e1 solid;
}
.login-pass {
  height: 36px;
  width: 338px;
  margin: 0 25px 28px 25px;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #e1e1e1 solid;
}
::placeholder {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.login-btn {
  height: 36px;
  width: 338px;
  background-color: #5fa800;
  margin: 0 25px 117px 25px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.privacy-policy {
  height: 36px;
  width: 338px;
  margin: 0 25px 25px 25px;
  text-align: center;
  color: white;
}
