@import "./variables";

.container {
  width: 1024px;
  height: auto;
  position: relative;
  clear: both;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
  }
}
